Repository FP-Synrgy-Team-2/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.css": [
        "prettier --write"
    ]
}

private routes optimized
  src/App.tsx
  src/pages/Login.tsx
Due: prettier --write, eslint --fix, eslint

create new rekening and save rekening
  package-lock.json
  public/images/icons/color=blue.svg
  src/pages/transfer/New.tsx
  src/pages/transfer/Pin.tsx
  src/pages/transfer/Saved.tsx
Due: prettier --write, eslint --fix, eslint

updated code saved rekening
  src/pages/transfer/Saved.tsx
Due: prettier --write, eslint --fix, eslint

update receipt
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/index.ts
  src/layouts/DashboardLayouts.tsx
  src/layouts/ReceiptLayouts.tsx
  src/pages/transfer/Receipt.tsx
Due: prettier --write, eslint --fix, eslint

add new color in config
  tailwind.config.js
Due: none

update api contract
  api/api-contract-jangkau.yaml
Due: none

added default login page
  package-lock.json
  public/images/login/login_bca_logo.webp
  public/images/login/login_image.webp
  src/pages/Login.tsx
Due: prettier --write, eslint --fix, eslint

added login page show/hide password feature
  public/images/login/blue_object_blc.webp
  src/pages/Login.tsx
Due: prettier --write, eslint --fix, eslint

Add protected
  src/components/Protected.tsx
Due: prettier --write, eslint --fix, eslint

Fix conflict
  .gitignore
  package-lock.json
  package.json
  public/images/transfer/invoice.png
Due: none

Rebasing: Add components
  src/components/NavbarLogo.tsx
  src/components/Sidebar.tsx
  src/components/index.ts
Due: prettier --write, eslint --fix, eslint

Rebasing: update routes in app.tsx
  src/App.tsx
Due: prettier --write, eslint --fix, eslint

Login pages: Update logo, formatting using prettier
  src/pages/Login.tsx
Due: prettier --write, eslint --fix, eslint

Update layout in dashboard
  src/layouts/DashboardLayouts.tsx
Due: prettier --write, eslint --fix, eslint

added default login page
  package-lock.json
  src/pages/Login.tsx
Due: prettier --write, eslint --fix, eslint

added auth management
  package-lock.json
  src/App.tsx
  src/layouts/DashboardLayouts.tsx
  src/pages/Login.tsx
Due: prettier --write, eslint --fix, eslint

added login error indicator on login pages
  public/images/logo.png
  public/images/logo.webp
  src/components/NavbarLogo.tsx
  src/pages/Login.tsx
Due: prettier --write, eslint --fix, eslint

update font
  src/components/Sidebar.tsx
Due: prettier --write, eslint --fix, eslint

update config
  public/images/transfer/bottom.svg
  tailwind.config.js
Due: none

update css
  src/index.css
Due: prettier --write

add receipt layout and receipt page
  src/layouts/ReceiptLayouts.tsx
  src/pages/transfer/Receipt.tsx
Due: prettier --write, eslint --fix, eslint

remove class navbar-brand in navbar logo
  src/components/NavbarLogo.tsx
Due: prettier --write, eslint --fix, eslint

update url
  .env
Due: none

remove package lock json
  package-lock.json
Due: none

merge master to dash-2 (keeping the branch updated)
  package-lock.json
  package.json
  src/assets/arrow-up-down.svg
  src/assets/banner.svg
  src/assets/dashboard.svg
  src/assets/person-fill.svg
  src/components/Banner.tsx
  src/components/DashboardCard.tsx
  src/components/SavedAccountCard.tsx
  src/components/SavedAccounts.tsx
  src/components/ServiceCard.tsx
  src/index.css
  src/layouts/DashboardLayouts.tsx
  src/pages/Dashboard.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint

feat: saved account cards navigate correctly when clicked
  package-lock.json
  src/components/SavedAccountCard.tsx
  src/components/SavedAccounts.tsx
  src/pages/transfer/Saved.tsx
Due: prettier --write, eslint --fix, eslint

Merge dash-2 (bdd9db88ca1f4f1165c45899db32553d0e3cacea) to master
  package-lock.json
  package.json
  src/assets/arrow-up-down.svg
  src/assets/banner.svg
  src/assets/dashboard.svg
  src/assets/person-fill.svg
  src/components/Banner.tsx
  src/components/DashboardCard.tsx
  src/components/SavedAccountCard.tsx
  src/components/SavedAccounts.tsx
  src/components/ServiceCard.tsx
  src/index.css
  src/layouts/DashboardLayouts.tsx
  src/pages/Dashboard.tsx
  src/pages/transfer/Saved.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint

style: change display text to body
  .eslintrc.cjs
  package-lock.json
  src/pages/transfer/TransferPage.tsx
Due: prettier --write, eslint --fix, eslint

feat: fix formatting
  .eslintrc.cjs
  postcss.config.js
  src/components/Components.tsx
  src/components/SwaggerUI.tsx
  src/main.tsx
  src/pages/Login.tsx
  src/pages/example/ApiCall.tsx
  src/pages/transfer/Confirmation.tsx
  src/pages/transfer/New.tsx
  src/pages/transfer/Pin.tsx
  src/pages/transfer/Receipt.tsx
  src/pages/transfer/index.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint

feat: change Input, Form, Label component
  src/components/Form.tsx
  src/components/Input.tsx
  src/components/Label.tsx
  src/components/Slot.tsx
Due: prettier --write, eslint --fix, eslint

add saldo card and mutasi table for dashboard
  src/assets/icons/Copy_alt.png
  src/assets/icons/Sort_arrow.png
  src/assets/icons/hide_eye_fill.svg
  src/assets/icons/show_eye.svg
  src/components/Saldo/CardSaldo.tsx
  src/components/Saldo/TableMutasi.tsx
Due: prettier --write, eslint --fix, eslint

feat: add aria label
  package-lock.json
  src/pages/transfer/Receipt.tsx
  src/pages/transfer/TransferPage.tsx
Due: prettier --write, eslint --fix, eslint

feat: using breadcrumbs components
  src/pages/transfer/TransferPage.tsx
Due: prettier --write, eslint --fix, eslint

add saldo card and mutasi table for dashboard
  src/components/Saldo/CardSaldo.tsx
  src/components/Saldo/TableMutasi.tsx
Due: prettier --write, eslint --fix, eslint
